sudo: false
language: php

php:
  - 7.0

branches:
  only:
    - master

notifications:
  email: false

before_script:
  - composer self-update

script:
  - php index.php

after_script:
- echo "Test!"
