sudo: false
language: php

php:
  - 7.0

branches:
  only:
    - master

notifications:
  email: false

before_script:
  - composer install

script:
  - php index.php

env:
  - GNL_URL=http://michalsengroup.com/api_test/ GNL_KEY=test GNL_LEAD=123456

after_script:
- echo "Test!"
